body {
	background-color: #f3f6f9 !important;
}

$fontSize: 0.875rem;
$iconSize: 1em;
$fontColor: rgb(33, 37, 41);
$fontLinkColor: rgb(135, 138, 153);
$borderRadius: 0.4rem;

.grid-view {
	.summary {
		text-align: center;
		font-size: $fontSize;
	}
}

.responsivetable {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0 0.5rem;
	font-family: "Open Sans", sans-serif;

	.hide {
		display: none;
	}

	&--icon {
		width: $iconSize;
		height: $iconSize;
	}

	&--leadingcolumn {
		&-container {
			display: flex;
			justify-content: left;
			align-items: center;
			height: 100%;
			gap: 0.5rem;
		}
	}

	td,
	th {
		font-style: normal;
		font-size: $fontSize;
		line-height: 21px;
		color: $fontColor;
		padding: 0.5rem 1rem !important;

		a {
			font-size: $fontSize;
			color: $fontLinkColor;
			text-decoration: none;
			font-weight: normal;
		}
	}

	thead {
		background-color: rgba(255, 255, 255, 0);
		margin-bottom: 1rem;

		tr {
			tr,
			th {
				a {
					text-decoration: none;
					color: $fontColor;

					font-weight: 600;
					border: none;
					letter-spacing: 1px;
					text-transform: uppercase;
					background: transparent;

					display: flex;
					justify-content: space-between;
					width: 100%;
				}
			}
		}
	}

	tbody {
		display: table-row-group;
		vertical-align: middle;
		unicode-bidi: isolate;
		border-color: inherit;

		tr {
			display: table-row;
			vertical-align: inherit;
			unicode-bidi: isolate;
			border-color: inherit;

			td {
				background-color: #fff;
				padding: 0.5rem 1.5rem;
				height: 100%;
			}

			td:first-child {
				border-radius: $borderRadius 0 0 $borderRadius;
			}

			td:last-child {
				border-radius: 0 $borderRadius $borderRadius 0;
			}

			&.detailRow {
				td {
					border-radius: $borderRadius;
				}
			}
		}
	}

	&__details {
		&--card {
			padding: 0 1rem;
			font-size: 0.8rem;
		}

		&--info {
			display: flex;
			justify-content: space-between;
			padding: 0.25rem 0;

			&:not(:last-child) {
				border-bottom: 1px dashed #dee2e6;
			}
		}
	}
}

ul.pagination {
	margin-top: 1rem;
	display: flex;
	justify-content: end;

	gap: 1.5rem 0.5rem;
	flex-wrap: wrap;

	li {
		display: block;

		span,
		a {
			text-decoration: none;
			color: #000;
			background-color: #fff;
			line-height: 1.25;
			border: 1px solid #dee2e6;
			border-radius: 8px;
			padding: 0.5rem 0.75rem;
			font-size: $fontSize;
		}

		&.active {
			a {
				background-color: #343a40 !important;
				color: #fff !important;
				border: none;
			}
		}
	}
}
