body {
    background-color: rgb(181, 181, 181) !important;
}

.responsivetable {
    width: 100%;

    .hide {
        display: none;
    }

    td,
    th {
        vertical-align: middle;
        margin-bottom: 10px;
        border: none;
    }

    thead {
        background-color: rgba(255, 255, 255, 0);
        margin-bottom: 1rem;

        tr {
            tr,
            th {
                border: none;
                font-size: 12px;
                letter-spacing: 1px;
                text-transform: uppercase;
                background: transparent;

                a {
                    text-decoration: none;
                    color: black;
                }
            }
        }
    }

    tbody {
        display: table-row-group;
        vertical-align: middle;
        unicode-bidi: isolate;
        border-color: inherit;

        tr {
            display: table-row;
            vertical-align: inherit;
            unicode-bidi: isolate;
            border-color: inherit;

            td {
                background-color: #fff;
            }
        }
    }

    &__details {
        &--card {
            padding: 1rem;
            font-size: 0.8rem;
        }

        &--info {
            display: flex;
            justify-content: space-between;
            padding: 0.25rem 0;

            &:not(:last-child) {
                border-bottom: 1px dashed rgba(0, 0, 0, 0.5);
            }
        }
    }
}
